<% @page_title %>
<h1>About Page</h1>
<%=simple_format"<p> This is a page all about Lauren Imhoff.
I am the queen of malapropisms.
Favorite Sports:*Basketball* and Baseball
Favorite Color: RED
Favorite Number: 7
Favorite time of year:Summer!!
Favorite weather conditions:5 inches of snow, freezing temperatures, and clear sky
Favorite ice cream: Cookies n creme! You can't be an Imhoff and not love Ice cream!
Fav vaca spots: Alaska(AWESOME), Woodloch Pines in PA, Pocono Mts---->(aka the best vacation spot to be invented), and Myrtle Beach </p>"%>
